body{
    background: url(https://cdn.pixabay.com/photo/2016/11/22/19/17/buildings-1850129_960_720.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    margin: 60px auto;
    width: 400px;
    padding: 30px;
    height: 150px;
    background-color: black;
    color: silver;
}
.business-card img{
    float:left;
    height: 120px;
    
}
.username,.email,.download-cv{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.username span{
    border-bottom: 2px solid red;
    padding-bottom: 4px;
}
.email {
    font-size: 15px;
}
.download-cv a {
    color:red;
    font-size: 15px;
    text-decoration: none;
}